body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #002eff75;
  }
  
  .container {
    display: flex;
    
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    padding-right: 46px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width:320px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004286;
  }
  